<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="/blog.css">
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@TimDingmanLive" />
      {% if page.title %}
        <meta name="twitter:title" content="{{page.title}}" />
      {% else %}
        <meta name="twitter:title" content="Missives to the Ether" />
      {% endif %}
      {% if page.excerpt %}
        <meta name="twitter:description" content="{{page.excerpt}}" />
      {% endif %}
    </head>
    <body>
      <nav class="nav">
        <a class="nav-link" href="/">Me</a>
        <a class="nav-link" href="/blog">Blog</a>
        <a class="nav-link" href="https://docs.google.com/document/d/1haL5NChvQQJOdn1UMEnLcRRGtrmW38DdElT2xvU6zt8/edit?usp=sharing">CV</a>
      </nav>
      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
    </body>
  </html>
